provider "aws" {
  region = "${region}"
  profile = "${profile}"
  default_tags {
    tags = {
      "author"     = "${author}"
      "customer"   = "${customer}"
      "project"    = "${project}"
      "environment"= "${env}"
      "managed-by" = "terraform"
    }
  }
}
